*{
    padding: 0px;
    margin: 0px;
}
body{
    
    background-color:hsl(32.73deg 57.89% 96.27%);
}
span{
    color: hsl(17.08deg 63.16% 44.71%);;
}
.sun{
    display: flex;
    margin: 15px;
    
}
.sun h1{
    font-size: 25px;
}
.cone1{
    display: flex;
    margin-top: 25px;
}
.cone1 h3{
    font-size: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
}
.cone11{
    display: flex;
    justify-content: space-between;
   
    background-color: white;
    width: 100%;
    border-radius: 5px;

}
.nad{
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background-color: rgb(176, 29, 29);
   
    margin-top: 8px;
    margin-right: 10px;
}
.nad h4{
    
    margin-top: 1px;
    font-size: 11px;
    margin-left: 5px;
    color: white;
}

.cone11 h3{
    font-size: 15px;
    padding-left: 5px;
    margin-top: 5px;
    margin-left: 10px;
}
.cone11 img{
    margin-left: 5px;
}
.cone12{
    display: flex; 
    margin-top: 5px;
}
.cone12 h3{
    font-size: 15px;
    padding-left: 15px;
    margin-top: 6px;
}
.cone12 img{
    color: black;
}
.em{
    color: rgb(142, 135, 135);
}
.cone13{
    display: flex;
    margin-top: 5px;
    padding-top: 15px;
    
}
.cone13 h3 {
     font-size: 15px;
     padding-left: 15px;
     padding-top: 5px;
}
.cone{
    margin-left: 25px;
    height: 500px;
}
.cone13 img{
    margin-left: 5px;
}
.cone1 i{
    margin-left: 5px;
}
.cone4{
    display: flex;
}
.conteiner p{
    font-size: 12px;
}
.abdou{
    font-size: 12px;
}
.abd{
    border-bottom: 2px dotted rgb(152, 149, 149);
    
}

